.root{
    padding: 10px;
    margin: 10px;
    background: white;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
  }
  
  .steps-action {
    margin-top: 24px;
    float: right;
  }

.redbg{
  background: red
}
.cross{
  background: green
}
.list{
  color: gray;
  padding: 3px;
  font-size: 14px;
  text-decoration: 'underline';
}
.block-button{
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  
}