body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*.demo-infinite-container {*/
/*  border: 1px solid #e8e8e8;*/
/*  border-radius: 4px;*/
/*  overflow: auto;*/
/*  padding: 8px 24px;*/
/*  height: 400px;*/
/*}*/
/*.demo-loading-container {*/
/*  position: absolute;*/
/*  bottom: 40px;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/
.demo-loadMore-list {
  width: 100%;
  min-height: 350px;
  border-radius: 4px;
  overflow: auto;
  padding: 12px 10px 12px 10px;
}

